@charset "UTF-8";

body{
    height: 100vh;
    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

main{
    background-color: azure;
    max-width: 600px;
    padding: 30px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
}