@charset "UTF-8";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkblue;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}
h1{
    color: goldenrod;
    font-size: 1.6em;
}
h2{
    color: yellow;
    font-size: 1.2;
}
p{
    text-align:justify;
}